.container {
  max-width: 900px !important;
  width: 100% !important;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  background: #FFFFF5;
}

h1, h2, a, .family-bios strong {
  font-family: 'Roboto Slab';
  font-weight: 300;
  color: #595342;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

p {
  margin: 10px 0 15px;
}

a {
  font-family: 'Open Sans';
  font-weight: inherit;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #26200E;
}

hr {
  border-top: 1px solid #D8D2C0;
}

header {
  background: #D8D2C1;
  text-align: center;
  padding: 20px 0 0;
}

.align-r {
  text-align: right;
}

.align-l {
  text-align: left;
}

.align-c {
  text-align: center;
}

.family-photo {
  position: relative;
}

.family-photo:before {
  content: '';
  display: block;
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #D8D2C1;
  z-index: 0;
}

.family-photo img {
    width: 100%;
    display: block;
    margin: auto;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    position: relative;
    z-index: 2;
}

.family-intro {
    padding: 30px 15px;
}

.family-bios strong {
    font-family: 'Roboto Slab';
    display: block;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
}

.family-bios p + p {
  margin-top: -10px;
}

footer {
  padding: 40px 0 60px;
}

footer p {
  max-width: 700px;
  margin: auto;
  border-top: 1px solid #D8D2C0;
  text-align: center;
  font-style: italic;
  padding: 20px;
  font-weight: 300;
}